[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
requests = "*"
build = "*"

[packages]
job-notifications = {editable = true, path = "."}

[requires]
python_version = "3.8"
